<%- include("../partials/head.ejs") %>

    <h1 class="showID"># <%= pokemon.id %></h1>
    <h1 class="showName"><%= pokemon.name %></h1>
    <img class="showImg" src="<%= pokemon.img %>" alt="Pokemon">
    <h3 class="showType"><%= pokemon.type %></h3>


<a href="/pokemon/<%= index %>/edit"><button class="button">Give <% pokemon.name%> a Nickname</button></a>
<br>
<a href="/pokemon">Back to pokedex</a>
<br>
<form action="/pokemon/<%= index %>?_method=DELETE" method="post" >
    <input class="button" type="submit" value="Delete">
</form>
